<body>


### TAKE THE BELOW OUT OF YOUR ACTUAL TEMPLATE ###
Variables that you can use

{{ user_name }}
{{ user_realname }}
{{ user_email }}
{{ user_code }}
{{ infinia_domain }}

###/###


Dear {{ user_realname }},
    Thank you for signing up for an InfiniaPress account at {{ infinia_domain }}. Click
<a href="{{ infinia_domain }}/{{ infinia_install_dir }}/sso/verify?code={{ user_code }}">here</a> to verify your
email address.

For your reference, your username is: {{ user_name }}.


</body>
